<body class="aligner container-fluid">
  <div class="aligner-item text-center row">
      <h1>Amazing Project</h1>
      <div class="col-xs-6">
        <h4>Enter a passcode for your account<h4>
        <input id="createcode1" placeholder="passcode" />
        <input id="createcode2" placeholder="confirm passcode" />

        <button id="create">Create Account</button>
        <div class="switch-toggle switch-candy switch-4">
          <input id="brick" name="view" type="radio" checked>
          <label for="brick" onclick="">Brick</label>

          <input id="steak" name="view" type="radio">
          <label for="steak" onclick="">Steak</label>

          <input id="bitcoin" name="view" type="radio">
          <label for="bitcoin" onclick="">Bitcoin</label>

          <input id="phone" name="view" type="radio">
          <label for="phone" onclick="">Phone</label>
        </div>
      </div>
      <div class="col-xs-6">
        <h4>Enter your account details<h4>
        <input id="uid" placeholder="unique id">
        <input id="logincode" placeholder="passcode" />
        <button>Login</button>
      </div>
  </div>
</body>
