// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.inline {
  display: inline-block;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row {
  display: flex;
}
