// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

$headColor : #000;
$bgColor : #2D2D2D;
$buttonbgColor : #7D7D7D;
$txtbgColor : #fff;

$screen-md : 992px;

#accounts {
  font-size: 20px;
  background-color: $bgColor ;
  color: #fff;
  height: 100%;

  .inline {
    display: inline-block;
  }

  input[type=text] {
    color: #fff;
    width: 25%;
  }

  @media only screen and (max-width: $screen-md),
  only screen and (orientation : portrait) {
    h1 {
      font-size: 80px;
    }

    h2 {
      font-size: 60px;
    }

    h3 {
      font-size: 50px;
      margin-top: 5px;
    }
  }

  @media only screen and (min-width: $screen-md),
  only screen and (orientation : landscape) {
    h1 {
      font-size: 60px;
    }

    h2 {
      font-size: 40px;
    }

    h3 {
      font-size: 30px;
      margin-top: 5px;
    }
  }

  button {
    font-size: 60px;
  }

  #status-page, #token-page {
    width: 100%;
  }

  #balancesection {
    display: inline-block;
    text-align: left;
    @media only screen and (max-width: $screen-md),
    only screen and (orientation : portrait) {
      text-align: center;
    }
    width: 100%;
    >h1 {
      background-color: shade($bgColor,40%);
      margin: 0;
      padding: 20px;
    }
    #balance {
      text-align: center;
      display: block;
      margin: auto;
      width: 60%;
      min-width: 170px;
      div:nth-child(even) {
        background-color: shade($bgColor,40%);
      }
      @media (max-width: $screen-md) {
        >div {
          display: inline-block;
          width: 100%;
          >* {
            margin: auto;
            padding: 5px;
            &.key {
              float: left;
            }
            &.value {
              float: right;
            }
          }
        }
      }
      @media (min-width: $screen-md) {
        width: 100%;

        >div {
          float: left;
          width: 25%;
        }
      }
    }
  }

  #send-token {
    display: block;
    margin: 20px auto;
    height: 100px;
    width: 50%;
  }

  #transaction-ledger, #transaction-maker {
    margin-top: 20px;
  }

  #token-select {
    width: 100%;
    height: 50%;
    display: block;
    min-height: 100px;
    margin: 0;

    >div {
      padding: 0;
      height: 200px;

      >label {
        position: absolute;
        width: 95%;
        height: 45%;
        align-items: center;
        display: flex;

        //@include transition(color 0.2s ease-out);
        &[for*=brick] {
          top:0;
          left: 0;
          @include colorize($buttonbgColor, $txtbgColor);
        }
        &[for*=steak] {
          bottom:0;
          left: 0;
          @include colorize($buttonbgColor, $txtbgColor);
        }
        &[for*=bitcoin] {
          top:0;
          right: 0;
          @include colorize($buttonbgColor, $txtbgColor);
        }
        &[for*=phone] {
          bottom:0;
          right: 0;
          @include colorize($buttonbgColor, $txtbgColor);
        }

        input {
          @extend h3;
          display: none;


          + span {
            position: absolute;
            position: relative;
            text-align: center;
            @extend h3;
            flex:1;
          }

          &:checked + span {
            text-shadow: 0 1px 0 rgba(255,255,255,0.5);
          }
        }
      }
    }
  }

  #token-page {
    text-align: center;
  }

  #token-transact {
    width: 100%;
    height: 50%;
    display: block;
    min-height: 100px;
    margin: 0;
    text-align: center;

    label {
      display: inline-block;
      margin: auto;
      @media (max-width: $screen-md) {
        width: 80%;
      }
      @media (min-width: $screen-md) {
        width: 50%;
      }
      span {
        @extend h3;
        height: 40%;
        margin: 0;
        @media (min-width: $screen-md) {
          float: left;
        }
      }

      input {
        @extend h3;
        float: right;
        @media (max-width: $screen-md) {
          width: 100%;
        }
        @media (min-width: $screen-md) {
          width: 30%;
        }
      }
    }
    button {
      display: block;
      height: 100px;
      margin: 20px auto;
      font-size: 60px;
      @media (max-width: $screen-md) {
        width: 80%;
      }
      @media (min-width: $screen-md) {
        width: 50%;
      }
    }
  }

  .bg-success {
    color: #0f0;
    background-color: #00a
  }

  .bg-warning {
    color: #d800;
    background-color: #800
  }

  #make-transaction {
    font-size: 24px;
  }

  .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: shade($bgColor,40%);
  }

  .table-striped > tbody > tr > td {
    border: none;
  }

}
