// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

#accounts {
  background-color: #aa6c39;
  color: #fff;

  .inline {
    display: inline-block;
  }

  input[type=text] {
    width: 25%;
  }

  #token-select {
    width: 100%;
    height: 50%;
    display: block;
    min-height: 100px;
    margin: 0;

    div {
      padding: 0;
      height: 200px;

      label {
        width: 100%;
        height: 50%;
        //@include transition(color 0.2s ease-out);
        &[for=brick] {
          @include colorize(#800, #f00);
        }
        &[for=steak] {
          @include colorize(#580, #0f0);
        }
        &[for=bitcoin] {
          @include colorize(#d80, #ff0);
        }
        &[for=phone] {
          @include colorize(#00a, #0af);
        }

        input {
          display: none;

          + span {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            position: relative;
            text-align: center;
            font-size: 30px;
          }

          &:checked + span {
            text-shadow: 0 1px 0 rgba(255,255,255,0.5);
          }
        }
      }
    }
  }

  .bg-success {
    color: #0f0;
    background-color: #00a
  }

  .bg-warning {
    color: #d80;
    background-color: #800
  }

  #make-transaction {
    font-size: 24px;
  }

  td {
    border: none;
  }

  .table-striped>tbody>tr:nth-child(odd)>td{
      background-color:#552700;
  }

}
