// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "VAlign.css";
@import "mixins";

$headColor : #000;
$bgColor : #2D2D2D;
$buttonbgColor : #7D7D7D;
$txtbgColor : #fff;

#homes {
  height: 100%;

  .bg-warning {
    color: #d80;
    background-color: #800
  }

  header{
    text-align: center;
    background-color: $headColor;
    color: #fff;
    border-bottom: solid 10px $bgColor;
    height: 20%;
  }

  h1 {
    font-size: 60px;
    color: #ffe;
  }

  h2 {
    font-size: 40px;
    color: #ffe;
  }

  h3 {
    font-size: 30px;
    font-style: italic;
    margin-top: 5px;
    color: #ffe;
  }

  main {
    height: 80%;
    margin: auto;
    background-color: $bgColor;

    >div {
      width: 80%;

      #createsection {
        padding-left: 2%;
        padding-right: 2%;
        * {
          margin-bottom: 5%;
        }
      }

      #loginsection {
        padding-left: 2%;
        padding-right: 2%;
        * {
          margin-bottom: 5%;
        }
      }
    }

    #create, #login {
      font-size: 24px;
    }

    #useid, #logincode {
      margin: 0% 1%;
      width: 48%;
    }

    #token-select {
      width: 100%;
      height: 50%;
      display: block;
      margin: auto;

      label {
        width: 25%;
        height: 50%;
        padding: 0;
        margin: 0;
        display: inline-block;
        //@include transition(color 0.2s ease-out);
        &[for=brick] {
          @include colorize($buttonbgColor, $txtbgColor);
        }
        &[for=steak] {
          @include colorize($buttonbgColor, $txtbgColor);
        }
        &[for=bitcoin] {
          @include colorize($buttonbgColor, $txtbgColor);
        }
        &[for=phone] {
          @include colorize($buttonbgColor, $txtbgColor);
        }

        input {
          display: none;

          + span {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            position: relative;
            text-align: center;
            font-size: 30px;
          }

          &:checked + span {
            text-shadow: 0 1px 0 rgba(255,255,255,0.5);
          }
        }
      }
    }

  }
}
