/*
* CSS TOGGLE SWITCHES
* Unlicense
*
* Ionuț Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
*/

@charset "UTF-8";

/* Supported values are px, rem-calc, em-calc */
$size-unit: px;
$em-base: 16 !default;

/* Functions */
@function strip-unit($num) {
  @return $num / ($num *  + 1);
}

@function convert-to-px($value)  {
  $value: strip-unit($value) * 1px;
  @if ($value == ) { $value: ; }
  @return $value;
}

@function px-calc($values) {
  $max: length($values);
  @if $max == 1 { @return convert-to-px(nth($values, 1)); }
  $px-values: ();
  @for $i from 1 through $max {
    $px-values: append($px-values, convert-to-px(nth($values, $i)));
  }
  @return $px-values;
}

@function size($value) {
  @if $size-unit == px {
    @return px-calc($value)
  }
  @if $size-unit == rem {
    @return rem-calc($value)
  }
  @if $size-unit == em {
    @return em-calc($value)
  }
}

/* Toggle Switches */

/* Shared */
@mixin switch-shared() {
  display: block;
  min-height: size(3);
}

/* We can't test for a specific feature,
* so we only target browsers with support for media queries.
*/
@media only screen {

  /* Radio switch
  */
  .switch-toggle {
    @include switch-shared();
    position: relative;
    display: table;
    table-layout: fixed;

    /* For callout panels in foundation
    */
    padding:  !important;

    input {
      position: absolute;
      opacity: ;
    }

    input + label {
      position: relative;
      display: table-cell;
      padding:  size(8);
      margin: ;

      text-align: center;
    }
  }

  /* Standalone Themes */

  /* Candy Theme
  * Based on the "Sort Switches / Toggles (PSD)" by Ormal Clarck
  * http://www.premiumpixels.com/freebies/sort-switches-toggles-psd/
  */
  .switch-candy {
    background-color: #2d335;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #191b1e;
    box-shadow: inset  2px 6px rgba(, , , .3),  1px  rgba(255, 255, 255, .2);

    label {
      color: #fff;
//      @include transition(color .2s ease-out);
    }

    input:checked + label {
      color: #f;
      text-shadow:  1px  rgba(255,255,255,.5);
    }
  }
}

/* Bugfix for older Webkit, including mobile Webkit. Adapted from
* http://css-tricks.com/webkit-sibling-bug/
*/
.switch-light,
.switch-toggle {
  @media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: size(128)) {
    -webkit-animation: webkitSiblingBugfix infinite 1s;
  }
}

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(,,);
  } to {
      -webkit-transform: translate3d(,,);
    }
}
