/*
 * 1. `height` is needed for IE10-11 for this bug
 *    http://bit.ly/16b1Xhx
 * 2. Other browser use `min-height`.
 */

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
@supports not (-ms-flex: 1) {
  .aligner {
    height: inherit; /* 2 */
  }
}

.aligner-item {
  flex: 1;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.aligner-item--fixed {
  flex: none;
}
