<div class="container-fluid">
  <div>
    <h2><%= @account.useid %></h2>
  </div>
  <div class="text-center row">
    <div class="col-xs-3">
      <h3>Brick</h3>
      <h3 class="inline">#</h3>
      <h4 class="inline">10</h4>
    </div>
    <div class="col-xs-3">
      <h3>Brick</h3>
      <h3 class="inline">#</h3>
      <h4 class="inline">10</h4>
    </div>
    <div class="col-xs-3">
      <h3>Brick</h3>
      <h3 class="inline">#</h3>
      <h4 class="inline">10</h4>
    </div>
    <div class="col-xs-3">
      <h3>Brick</h3>
      <h3 class="inline">#</h3>
      <h4 class="inline">10</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>Transactions</h3>
      <table class="table table-striped">
        <caption>Table Caption</caption>
        <thead>
          <tr>
            <th>Header</th><th>Header</th><th>Header</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content</td><td>1</td><td>a</td>
          </tr>
          <tr>
            <td>Content</td><td>2</td><td>b</td>
          </tr>
          <tr>
            <td>Content</td><td>3</td><td>c</td>
          </tr>
          <tr>
            <td>Content</td><td>4</td><td>d</td>
          </tr>
          <tr>
            <td>Content</td><td>5</td><td>e</td>
          </tr>
          <tr>
            <td>Content</td><td>6</td><td>f</td>
          </tr>
        </tbody>
    </table>
    </div>
    <div class="col-xs-6 vcenter aligner">
        <input type="radio" name="token">
        <input type="radio" name="token">
        <input type="radio" name="token">
        <input type="radio" name="token">

        <h4>Send Token</h4>
        <input type="text" name="token" placeholder="amount">
        <input type="button" name="token" value="Make Transaction">
    </div>
  </div>
</div>
